.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 41px;
background: #cbc1ff;
box-shadow:  3px 3px 0px #7a7499, 
             -3px -3px 0px #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-zoom-out infinite alternate 1s linear,
    App-logo-zoom-in infinite alternate 1s linear;
  }
}

.App-header {
  
  background-color: #4e5666;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes App-logo-zoom-out {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
