
.navbar-inverse{
    margin: 0%;
    
}

nav{
    height: auto;
}

li, a{
    font-family: sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    
}
button{
    display: inline-block;
    padding: 0.5em;
    margin: 6px;
    text-decoration: none;
    
    border-bottom: solid 4px #627295;

    border-radius: 41px;
    background: #cbc1ff;
    box-shadow:  1px 1px 0px #7a7499, 
             -1px -1px 0px #ffffff;
}
button:active {/*on Click*/
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);/*Move down*/
  
    border-radius: 32px;
    background: #cbc1ff;
    box-shadow: inset 1px 1px 0px #7a7499;
           
}
.logo-icon{
    cursor: pointer;
    order: 2;
    margin-left: auto;  
    height: 3em;
    border-radius: 20px;
}